@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
      font-family: 'Viga', sans-serif;
      font-weight: 400;
      font-style: normal;
}

.footer-bg {
      background-image: url('../assets//images/footer-bg.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #173616;
}
